@import "variables";
@import "normalize";
@import "media";
@import "keyframes";

html {
    background-color: $black;
}

.body {
    background: linear-gradient(to right bottom, $black 0%, $black 40%, $lightGreen 100%) no-repeat;
    
    &--works {
        height: 2370px;
    }
}

.scroll-top-button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    z-index: 100;
    animation: fadeIn 0.5s ease-in-out;

    svg path {
        fill: $white;
        transition: fill 0.3s;
    }

    &:hover {
        background-color: $lightGreen;
        box-shadow: 0 0 20px 10px rgba($color: $black, $alpha: 0.5);
    }
}

.scroll-top-button.show {
    display: block;
}

.header {
    color: $white;
    background-color: $black;
    font-size: 18px;
    font-weight: 400;
    height: 90px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 35px 25px $black;
    z-index: 100;
    position: fixed;
    transition: height 0.5s;
    min-height: 70px;
    overflow: hidden;

    &__logo-wrapper {
        width: 33.3%;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            height: 54%;
            width: 1px;
            background-color: $white;
            position: absolute;
            top: 22%;
            right: 0;
            transition: all 0.4s;
            animation: scaleStripeVertical 1.2s ease-in-out;
        }
    }

    &__logo {
        padding: 10px 40px 10px 10px;
        margin-left: 20px;
        font-size: 24px;
        font-weight: 400;
        transition: color 0.4s;

        &:hover {
            color: $lightGreen;
        }
    }

    &__contacts {
        width: 33.3%;
        display: flex;
        position: relative;
    }

    &__socials {
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            width: 84%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: 0;
            left: 8%;
            transition: all 0.4s;
            animation: scaleStripeHorizontalShort 1.2s ease-in-out;
        }

        &::before {
            content: '';
            height: 54%;
            width: 1px;
            background-color: $white;
            position: absolute;
            top: 22%;
            right: 0;
            transition: all 0.4s;
            animation: scaleStripeVertical 1.2s ease-in-out;
        }

        &-link {
            padding: 15px;

            svg path {
                transition: fill 0.5s;
            }

            &:hover {
                svg path {
                    fill: $lightGreen;
                }
            }

            &--mail {
                svg path {
                    transition: stroke 0.5s;
                }

                &:hover {
                    svg path {
                        stroke: $lightGreen;
                        fill: $black;
                    }
                }
            }
        }
    }

    &__contact-me {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            width: 84%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 8%;
            transition: all 0.4s;
            animation: scaleStripeHorizontalShort 1.2s ease-in-out;
        }

        &-link {
            color: $white;
            padding: 20px;
            transition: color 0.5s;
            position: relative;

            &:hover {
                color: $lightGreen;
            }
        }
    }
}

.header.hoverAnimation {
    &:hover {

        .header__logo-wrapper::after,
        .nav::after {
            transform: translateX(-4%);
            width: 100%;
        }

        .header__socials::after,
        .header__contact-me::after {
            width: 100%;
        }

        .header__socials::after {
            transform: translateX(-8%);
        }

        .header__contact-me::after {
            transform: translateX(8%);
        }

        .header__logo-wrapper::before,
        .header__socials::before,
        .nav::before,
        .header__contact-me::before {
            transform: translateY(-22%);
            height: 100%;
        }
    }
}

.header.flatten {
    height: 75px;
}

.header__logo-wrapper::after,
.nav::after {
    content: '';
    width: 92%;
    height: 1px;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 4%;
    transition: all 0.4s;
    animation: scaleStripeHorizontal 1.2s ease-in-out;
}

.nav {
    width: 33.3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        height: 54%;
        width: 1px;
        background-color: $white;
        position: absolute;
        top: 22%;
        right: 0;
        transition: all 0.4s;
        animation: scaleStripeVertical 1.2s ease-in-out;
    }

    &__link {
        color: $white;
        padding: 20px;
        transition: color 0.4s;
        position: relative;

        &:hover {
            color: $lightGreen;
        }
    }
}

.wrapper {
    padding: 3%;
    width: 100%;
    height: 100%;
}

.main-section {
    padding-top: 90px;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding: 40px 0;
    }

    &__text {
        position: absolute;
        top: 320px;
        padding: 50px 0 130px 40px;
        width: 52%;
        z-index: 10;
        animation: fadeIn 0.7s ease-in-out;
    }

    &__heading {
        font-size: 72px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__heading-subtext {
        font-size: 48px;
        font-weight: 300;

        &--marked {
            animation: backgroundPan 5s linear infinite;
            background: linear-gradient(to right,
                    $lightGreen,
                    lighten($lightGreen, 30%),
                    $white,
                    lighten($lightGreen, 30%),
                    $lightGreen );
            background-clip: text;
            background-size: 200%;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
        }
    }
}

.header__logo,
.header__contact-me-link,
.header__socials-link,
.nav__link {
    animation: fadeIn 1.2s ease-in-out;
}

.presentations-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: filter 0.7s;

    &:hover {
        filter: none;
    }

    &__wrapper {
        transition-timing-function: linear;
    }

    &__slide {
        height: 290px;
        width: 515px !important;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &--forward {
        filter: none;
        animation: lessBlurry 0.7s ease-in-out;
    }

    &--reverse {
        filter: blur(5px) brightness(20%);
        animation: moreBlurry 0.7s ease-in-out;
    }
}

.presentations-slider--forward.blur {
    animation: addBlur 0.7s ease-in-out;
    filter: blur(5px) brightness(20%);
}

//СТРАНИЦА С РАБОТАМИ

.projects {
    perspective: 1500px;
    width: 100%;
    height: 100%;
    position: fixed;


    &__content {
        transform-style: preserve-3d;
        height: 100%;
    }
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition, opacity 0.5s ease;
    will-change: transform;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    animation: brighterBackground 1.2s;

    &:first-child {
        z-index: 1;
    }
}

.presentation {
    display: flex;
    justify-content: center;
    gap: 40px;

    &__img {
        object-fit: contain;
        width: 50%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        width: 25%;
        transform-style: preserve-3d;
    }

    &__heading {
        text-align: center;
        font-size: 40px;
        line-height: 1;
    }

    &__description {
        font-size: 20px;
        position: relative;
        font-weight: 300;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: -25px;
            left: 0;
        }

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: -30px;
            left: 0;
        }
    }

    &__link {
        font-size: 20px;
        padding: 0 10px 20px 10px;
        text-align: center;
        transition: color 0.4s;

        &:hover {
            color: $lightGreen;
        }

        &--black-hover {
            &:hover {
                color: $black;
            }
        }
    }
}

// СТРАНИЦА ОБО МНЕ

.about-me {
    width: 100%;
    height: 100%;
    padding: 120px 50px 70px;
    display: flex;
    position: relative;
    animation: fadeIn 1.2s;

    &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        font-size: 18px;
        font-weight: 300;
    }

    &__heading {
        font-size: 50px;
        font-weight: 400;
    }

    &__image-container {
        position: relative;
        width: 40%;
    }

    &__image {
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 2;

    }
}

.my-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__experience,
    &__present-made {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 40%;
    }

    &__stat {
        font-size: 32px;
        font-weight: 400;
        animation: backgroundPan 5s linear infinite;
        background: linear-gradient(to right,
                $lightGreen,
                lighten($lightGreen, 30%),
                $white,
                lighten($lightGreen, 30%),
                $lightGreen );
        background-clip: text;
        background-size: 200%;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }

    &__text {
        width: 80%;
    }
}

.about-me__heading,
.about-me__text,
.my-stats,
.competencies-list {
    position: relative;

    &::after {
        content: '';
        height: 1px;
        background-color: $white;
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
    }
}

.competencies-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;

    &__item {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }
}

.made-for {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;

    &__text {
        font-size: 28px;
        animation: backgroundPan 5s linear infinite;
        background: linear-gradient(to right,
                $lightGreen,
                lighten($lightGreen, 30%),
                $white,
                lighten($lightGreen, 30%),
                $lightGreen );
        background-clip: text;
        background-size: 200%;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }

    &__companies {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 50px;
    }

    &__company-link {
        align-self: center;
        width: 25%;
    }

    &__company-logo {
        width: 100%;
        height: 100%;
    }
}

//СТРАНИЦА СВЯЗЬ

.connect {
    padding: 90px 50px 50px;
    height: 1000px;
    display: flex;
    flex-direction: column;

    &__heading {
        font-size: 32px;
        font-weight: 400;
        padding-top: 50px;
    }
}