* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  width: 100%;
  font-size: 24px;
  line-height: 1.25;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

input,
textarea,
button {
  appearance: none;
  border-radius: 0;
  border: none;
  font-family: "Exo 2", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
}

button {
  background-color: transparent;
  line-height: 125%;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

textarea {
  resize: none;
}

mark {
  background-color: transparent;
  color: #FFFFFF;
}

@keyframes scaleStripeHorizontal {
  0% {
    width: 0;
    left: 50%;
  }

  70% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 92%;
    left: 4%;
  }
}

@keyframes scaleStripeHorizontalShort {
  0% {
    width: 0;
    left: 50%;
  }

  70% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 84%;
    left: 8%;
  }
}

@keyframes scaleStripeVertical {
  0% {
    height: 0%;
    top: 50%;
  }

  70% {
    height: 100%;
    top: 0%;
  }

  100% {
    height: 54%;
    top: 22%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moreBlurry {
  0% {
    filter: blur(0) brightness(55%);
  }

  100% {
    filter: blur(5px) brightness(20%);
  }
}

@keyframes lessBlurry {
  0% {
    filter: blur(5px) brightness(20%);
  }

  100% {
    filter: none;
  }
}

@keyframes addBlur {
  0% {
    filter: none;
  }

  100% {
    filter: blur(5px) brightness(20%);
  }
}

@keyframes backgroundPan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  background: linear-gradient(to right bottom, #000000 0%, #000000 40%, #499E77 100%) no-repeat;
  height: 2400px;
}

.scroll-top-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 100;
  animation: fadeIn 0.5s ease-in-out;
}

.scroll-top-button svg path {
  fill: #FFFFFF;
  transition: fill 0.3s;
}

.scroll-top-button:hover {
  background-color: #499E77;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.scroll-top-button.show {
  display: block;
}

.header {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  height: 90px;
  width: 100%;
  display: flex;
  box-shadow: 0 0 35px 25px #000000;
  z-index: 100;
  position: fixed;
  transition: height 0.5s;
  min-height: 70px;
}

.header__logo-wrapper {
  width: 33.3%;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-wrapper::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.header__logo {
  padding: 10px 40px 10px 10px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.4s;
}

.header__logo:hover {
  color: #499E77;
}

.header__contacts {
  width: 33.3%;
  display: flex;
  position: relative;
}

.header__socials {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  position: relative;
}

.header__socials::after {
  content: "";
  width: 84%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 8%;
  transition: all 0.4s;
  animation: scaleStripeHorizontalShort 1.2s ease-in-out;
}

.header__socials::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.header__socials-link {
  padding: 20px;
}

.header__socials-link svg path {
  transition: fill 0.5s;
}

.header__socials-link:hover svg path {
  fill: #499E77;
}

.header__contact-me {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.header__contact-me::after {
  content: "";
  width: 84%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 8%;
  transition: all 0.4s;
  animation: scaleStripeHorizontalShort 1.2s ease-in-out;
}

.header__contact-me-link {
  color: #FFFFFF;
  padding: 20px;
  transition: color 0.5s;
  position: relative;
}

.header__contact-me-link:hover {
  color: #499E77;
}

.header.hoverAnimation:hover .header__logo-wrapper::after,
.header.hoverAnimation:hover .nav::after {
  transform: translateX(-4%);
  width: 100%;
}

.header.hoverAnimation:hover .header__socials::after,
.header.hoverAnimation:hover .header__contact-me::after {
  width: 100%;
}

.header.hoverAnimation:hover .header__socials::after {
  transform: translateX(-8%);
}

.header.hoverAnimation:hover .header__contact-me::after {
  transform: translateX(8%);
}

.header.hoverAnimation:hover .header__logo-wrapper::before,
.header.hoverAnimation:hover .header__socials::before,
.header.hoverAnimation:hover .nav::before,
.header.hoverAnimation:hover .header__contact-me::before {
  transform: translateY(-22%);
  height: 100%;
}

.header.flatten {
  height: 75px;
}

.header__logo-wrapper::after,
.nav::after {
  content: "";
  width: 92%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 4%;
  transition: all 0.4s;
  animation: scaleStripeHorizontal 1.2s ease-in-out;
}

.nav {
  width: 33.3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nav::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.nav__link {
  color: #FFFFFF;
  padding: 20px;
  transition: color 0.4s;
  position: relative;
}

.nav__link:hover {
  color: #499E77;
}

.wrapper {
  padding: 3%;
  width: 100%;
  height: 100%;
}

.main {
  padding-top: 90px;
}

.main__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.main__text {
  position: absolute;
  top: 320px;
  padding: 50px 0 130px 40px;
  width: 52%;
  z-index: 10;
  animation: fadeIn 0.7s ease-in-out;
}

.main__heading {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 20px;
}

.main__heading-subtext {
  font-size: 48px;
  font-weight: 300;
}

.main__heading-subtext--marked {
  animation: backgroundPan 5s linear infinite;
  background: linear-gradient(to right, #499E77, #a9d7c2, #FFFFFF, #a9d7c2, #499E77);
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.header__logo,
.header__contact-me-link,
.header__socials-link,
.nav__link {
  animation: fadeIn 1.2s ease-in-out;
}

.presentations-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: filter 0.7s;
}

.presentations-slider:hover {
  filter: none;
}

.presentations-slider__wrapper {
  transition-timing-function: linear;
}

.presentations-slider__slide {
  height: 290px;
  width: 515px !important;
  overflow: hidden;
}

.presentations-slider__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.presentations-slider--forward {
  filter: none;
  animation: lessBlurry 0.7s ease-in-out;
}

.presentations-slider--reverse {
  filter: blur(5px) brightness(20%);
  animation: moreBlurry 0.7s ease-in-out;
}

.presentations-slider--forward.blur {
  animation: addBlur 0.7s ease-in-out;
  filter: blur(5px) brightness(20%);
}

.projects {
  perspective: 1500px;
  width: 100%;
  height: 100%;
  position: fixed;
}

.projects__content {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.5s ease;
  will-change: transform;
  transform-style: preserve-3d;
}

.frame:first-child {
  z-index: 1;
}

.presentation {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.presentation__img {
  object-fit: contain;
  width: 50%;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 25%;
}

.presentation__heading {
  text-align: center;
  font-size: 40px;
  line-height: 1;
}

.presentation__description {
  font-size: 20px;
  position: relative;
  font-weight: 300;
}

.presentation__description::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: -25px;
  left: 0;
}

.presentation__description::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.presentation__link {
  font-size: 20px;
  padding: 0 10px 20px 10px;
  text-align: center;
  transition: color 0.4s;
}

.presentation__link:hover {
  color: #499E77;
}