* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  width: 100%;
  font-size: 24px;
  line-height: 1.25;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

input,
textarea,
button {
  appearance: none;
  border-radius: 0;
  border: none;
  font-family: "Exo 2", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
}

button {
  background-color: transparent;
  line-height: 125%;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

textarea {
  resize: none;
}

mark {
  background-color: transparent;
  color: #FFFFFF;
}

@keyframes scaleStripeHorizontal {
  0% {
    width: 0;
    left: 50%;
  }

  70% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 92%;
    left: 4%;
  }
}

@keyframes scaleStripeHorizontalShort {
  0% {
    width: 0;
    left: 50%;
  }

  70% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 84%;
    left: 8%;
  }
}

@keyframes scaleStripeVertical {
  0% {
    height: 0%;
    top: 50%;
  }

  70% {
    height: 100%;
    top: 0%;
  }

  100% {
    height: 54%;
    top: 22%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moreBlurry {
  0% {
    filter: blur(0) brightness(55%);
  }

  100% {
    filter: blur(5px) brightness(20%);
  }
}

@keyframes lessBlurry {
  0% {
    filter: blur(5px) brightness(20%);
  }

  100% {
    filter: none;
  }
}

@keyframes addBlur {
  0% {
    filter: none;
  }

  100% {
    filter: blur(5px) brightness(20%);
  }
}

@keyframes backgroundPan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes brighterBackground {
  0% {
    backdrop-filter: blur(10px) brightness(0%);
  }

  100% {
    backdrop-filter: blur(10px) brightness(100%);
  }
}

html {
  background-color: #000000;
}

.body {
  background: linear-gradient(to right bottom, #000000 0%, #000000 40%, #499E77 100%) no-repeat;
}

.body--works {
  height: 2370px;
}

.scroll-top-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #397b5d;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 100;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.scroll-top-button svg path {
  fill: #FFFFFF;
  transition: fill 0.3s;
}

.scroll-top-button:hover {
  background-color: #499E77;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.scroll-top-button.show {
  display: block;
}

.dissection-ad {
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-radius: 50px;
  background-color: #397b5d;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 45px;
  transition: all 0.4s;
  z-index: 100;
}

.dissection-ad__link-wrapper {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.dissection-ad__text {
  font-size: 16px;
  line-height: 1.1;
  width: 300px;
  position: absolute;
  left: 45px;
}

.dissection-ad:hover {
  width: 340px;
  background-color: #499E77;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.header {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  height: 90px;
  width: 100%;
  display: flex;
  box-shadow: 0 0 35px 25px #000000;
  z-index: 100;
  position: fixed;
  transition: height 0.5s;
  min-height: 70px;
  overflow: hidden;
}

.header__logo-wrapper {
  width: 33.3%;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-wrapper::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.header__logo {
  padding: 10px 40px 10px 10px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.4s;
}

.header__logo:hover {
  color: #499E77;
}

.header__contacts {
  width: 33.3%;
  display: flex;
  position: relative;
}

.header__socials {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  position: relative;
}

.header__socials::after {
  content: "";
  width: 84%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 8%;
  transition: all 0.4s;
  animation: scaleStripeHorizontalShort 1.2s ease-in-out;
}

.header__socials::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.header__socials-link {
  padding: 15px;
}

.header__socials-link svg path {
  transition: fill 0.5s;
}

.header__socials-link:hover svg path {
  fill: #499E77;
}

.header__socials-link--mail svg path {
  transition: stroke 0.5s;
}

.header__socials-link--mail:hover svg path {
  stroke: #499E77;
  fill: #000000;
}

.header__contact-me {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.header__contact-me::after {
  content: "";
  width: 84%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 8%;
  transition: all 0.4s;
  animation: scaleStripeHorizontalShort 1.2s ease-in-out;
}

.header__contact-me-link {
  color: #FFFFFF;
  padding: 20px;
  transition: color 0.5s;
  position: relative;
}

.header__contact-me-link:hover {
  color: #499E77;
}

.header.hoverAnimation:hover .header__logo-wrapper::after,
.header.hoverAnimation:hover .nav::after {
  transform: translateX(-4%);
  width: 100%;
}

.header.hoverAnimation:hover .header__socials::after,
.header.hoverAnimation:hover .header__contact-me::after {
  width: 100%;
}

.header.hoverAnimation:hover .header__socials::after {
  transform: translateX(-8%);
}

.header.hoverAnimation:hover .header__contact-me::after {
  transform: translateX(8%);
}

.header.hoverAnimation:hover .header__logo-wrapper::before,
.header.hoverAnimation:hover .header__socials::before,
.header.hoverAnimation:hover .nav::before,
.header.hoverAnimation:hover .header__contact-me::before {
  transform: translateY(-22%);
  height: 100%;
}

.header.flatten {
  height: 75px;
}

.header__logo-wrapper::after,
.nav::after {
  content: "";
  width: 92%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 4%;
  transition: all 0.4s;
  animation: scaleStripeHorizontal 1.2s ease-in-out;
}

.nav {
  width: 33.3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nav::before {
  content: "";
  height: 54%;
  width: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 22%;
  right: 0;
  transition: all 0.4s;
  animation: scaleStripeVertical 1.2s ease-in-out;
}

.nav__link {
  color: #FFFFFF;
  padding: 20px;
  transition: color 0.4s;
  position: relative;
}

.nav__link:hover {
  color: #499E77;
}

.wrapper {
  padding: 3%;
  width: 100%;
  height: 100%;
}

.main-section {
  padding-top: 90px;
}

.main-section__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.main-section__text {
  position: absolute;
  top: 320px;
  padding: 50px 0 130px 40px;
  width: 52%;
  z-index: 10;
  animation: fadeIn 0.7s ease-in-out;
}

.main-section__heading {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 20px;
}

.main-section__heading-subtext {
  font-size: 48px;
  font-weight: 300;
}

.main-section__heading-subtext--marked {
  animation: backgroundPan 5s linear infinite;
  background: linear-gradient(to right, #499E77, #a9d7c2, #FFFFFF, #a9d7c2, #499E77);
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.header__logo,
.header__contact-me-link,
.header__socials-link,
.nav__link {
  animation: fadeIn 1.2s ease-in-out;
}

.presentations-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: filter 0.7s;
}

.presentations-slider:hover {
  filter: none;
}

.presentations-slider__wrapper {
  transition-timing-function: linear;
}

.presentations-slider__slide {
  height: 290px;
  width: 515px !important;
  overflow: hidden;
}

.presentations-slider__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.presentations-slider--forward {
  filter: none;
  animation: lessBlurry 0.7s ease-in-out;
}

.presentations-slider--reverse {
  filter: blur(5px) brightness(20%);
  animation: moreBlurry 0.7s ease-in-out;
}

.presentations-slider--forward.blur {
  animation: addBlur 0.7s ease-in-out;
  filter: blur(5px) brightness(20%);
}

.my-works {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
}

.my-works__heading {
  text-align: center;
  font-size: 54px;
  font-weight: 300;
}

.my-works__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.see-all {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-all__link {
  display: block;
  padding: 40px;
  font-size: 44px;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.see-all__link:hover::after {
  width: 80%;
}

.see-all__link::after {
  content: "";
  width: 40%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s;
}

.projects {
  perspective: 1500px;
  width: 100%;
  height: 100%;
  position: fixed;
}

.projects__content {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.5s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.5s ease;
  will-change: transform;
  transform-style: preserve-3d;
  backdrop-filter: blur(10px);
  animation: brighterBackground 1.2s;
}

.frame:first-child {
  z-index: 1;
}

.presentation {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.presentation--main-page {
  display: block;
  width: 47%;
  margin-bottom: 5%;
  position: relative;
  cursor: pointer;
}

.presentation--main-page:hover .presentation__img--main-page {
  filter: brightness(40%);
}

.presentation--main-page:hover .presentation__heading--main-page {
  opacity: 1;
}

.presentation--main-page:nth-last-child(2) {
  margin-bottom: 0;
}

.presentation__img {
  object-fit: contain;
  width: 50%;
}

.presentation__img--main-page {
  width: 100%;
  transition: filter 0.5s;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 25%;
  transform-style: preserve-3d;
}

.presentation__heading {
  text-align: center;
  font-size: 40px;
  line-height: 1;
}

.presentation__heading--main-page {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.presentation__description {
  font-size: 20px;
  position: relative;
  font-weight: 300;
}

.presentation__description::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: -25px;
  left: 0;
}

.presentation__description::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.presentation__link {
  font-size: 20px;
  padding: 0 10px 20px 10px;
  text-align: center;
  transition: color 0.4s;
}

.presentation__link:hover {
  color: #499E77;
}

.presentation__link--black-hover:hover {
  color: #000000;
}

.about-me {
  width: 100%;
  height: 100%;
  padding: 120px 50px 70px;
  display: flex;
  position: relative;
  animation: fadeIn 1.2s;
}

.about-me__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 18px;
  font-weight: 300;
}

.about-me__heading {
  font-size: 50px;
  font-weight: 400;
}

.about-me__image-container {
  position: relative;
  width: 40%;
}

.about-me__image {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}

.my-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.my-stats__experience,
.my-stats__present-made {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 40%;
}

.my-stats__stat {
  font-size: 32px;
  font-weight: 400;
  animation: backgroundPan 5s linear infinite;
  background: linear-gradient(to right, #499E77, #a9d7c2, #FFFFFF, #a9d7c2, #499E77);
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.my-stats__text {
  width: 80%;
}

.about-me__heading,
.about-me__text,
.my-stats,
.competencies-list {
  position: relative;
}

.about-me__heading::after,
.about-me__text::after,
.my-stats::after,
.competencies-list::after {
  content: "";
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}

.competencies-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}

.competencies-list__item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.competencies-list__icon {
  width: 32px;
  height: 32px;
}

.made-for {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}

.made-for__text {
  font-size: 28px;
  animation: backgroundPan 5s linear infinite;
  background: linear-gradient(to right, #499E77, #a9d7c2, #FFFFFF, #a9d7c2, #499E77);
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.made-for__companies {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px;
}

.made-for__company-link {
  align-self: center;
  width: 25%;
}

.made-for__company-logo {
  width: 100%;
  height: 100%;
}

.connect {
  padding: 90px 70px 50px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.2s;
}

.connect__heading {
  font-size: 32px;
  font-weight: 400;
  padding: 50px 0;
}

.connect__content {
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact {
  display: flex;
  gap: 15px;
  position: relative;
  align-items: center;
  padding: 5px 0;
}

.contact:hover .contact__text {
  color: #499E77;
}

.contact::after {
  content: "";
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}

.contact:last-child::after {
  display: none;
}

.contact__text {
  font-size: 18px;
  font-weight: 300;
  transition: color 0.4s;
}

.contact__text--pale {
  color: rgba(254, 252, 252, 0.592);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px 50px;
  border: 1px solid #FFFFFF;
}

.contact-form__heading {
  font-weight: 300;
}

.contact-form__input-container {
  position: relative;
}

.contact-form__input-container::after {
  content: "";
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  transition: width 0.5s;
}

.contact-form__input-container:nth-last-child(2)::after,
.contact-form__input-container:last-child::after {
  display: none;
}

.contact-form__input-container.focus::after {
  width: 100%;
}

.contact-form__input {
  width: 300px;
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__input:focus::placeholder {
  opacity: 0;
}

.contact-form__input::placeholder {
  color: #FFFFFF;
  text-align: center;
  transition: opacity 0.4s;
}

.contact-form__input--textarea {
  margin-top: 25px;
  height: 120px;
  padding: 10px;
  border: 1px solid #FFFFFF;
  text-align: start;
  font-size: 14px;
}

.contact-form__button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact-form__button:hover {
  background-color: #000000;
}

.dissection {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #FFFFFF;
  padding: 15px;
}

.dissection-container {
  display: flex;
  align-items: center;
}

.dissection svg {
  width: 54px;
  height: 54px;
}

.dissection__text {
  width: 200px;
  font-size: 18px;
  font-weight: 300;
}